$main-font: 'Berkshire Swash', cursive;
$fallback: #cccccc;
$home-font: #d68533;
$home-bttn: #a32900;
$home-bttn-hover: #621900;
$grain: #ebc633;
$grain-hover: #e6b800;
$hop: #5d8d5d;
$hop-hover: #547f54;
$yeast: #C1693C;
$yeast-hover: #AE5E36;
$straw: #FAEFDC;

// General Styling   //

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: image-url("HD-Wallpaper-Cat-With-Beer.jpeg");
  background-color: $fallback;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

// Home page styling //

.font-pretty {
  font-family: $main-font;
  color: $home-font;
  font-size: 450%;

  &.smaller {
    font-size: 215%;
    padding-left: 2rem;
  }

}

.recipe-maker-button {
  
  .button {
    background-color: $home-bttn;
    margin: 3rem;
  }

  .button:hover {
    background-color: $home-bttn-hover;
  }
}

.login-to-use {
  
  .button {
    background-color: $home-bttn;
    margin: 3rem;
  }

  .button:hover {
    background-color: $home-bttn-hover;
  }
}

.not-home-page {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  margin-top: 3rem;
  padding: 1rem;

  table {
   
    align:center;
  }
}

// Recipe List Styling //

.maker-background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: image-url("beer-background.jpg");
  background-color: $fallback;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.side-bar {
  position: fixed;
  margin-right: 1rem;
}

#grain-tab a {
  background-color: $grain;
}

#grain-tab a:hover {
  background-color: $grain-hover;
}

#hop-tab a {
  background-color: $hop;
}

#hop-tab a:hover {
  background-color: $hop-hover;
}

#yeast-tab a {
  background-color: $yeast;
}

#yeast-tab a:hover {
  background-color: $yeast-hover;
}

#yeast-form {
  border-style: none;
}

#hop-form {
  border-style: none;
}

#grain-form {
  border-style: none;
}

.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-weight: normal;
  margin-bottom: 0;
  position: relative;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  font-size: 0.8125rem;
  transition: opacity 300ms ease-out;
  background-color: $home-bttn;
  border-color: $home-bttn;
  color: #FFFFFF;
}

.data-padding-box {
  background-color: $straw;
  margin-left: 12%;
  margin-right: 12%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.your-recipes tr td {
  text-align: center;
}

.form-label {
  text-align: right;
  padding: 0;
}
